/* || Themes */

:root {
  color-scheme: dark light;
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Adaptation of Rose Pine Dawn theme: https://rosepinetheme.com/palette/ingredients */
:root,
:root[data-theme="light"] {
  --base: #faf4ed;
  --surface: #fffaf3;
  --overlay: #f2e9e1;
  --muted: #9893a5;
  --subtle: #797593;
  --text: #575279;
  --accent-red: #b4637a;
  --accent-gold: #ea9d34;
  --accent-orange: #d7827e;
  --accent-teal: #286983;
  --accent-foam: #56949f;
  --accent-violet: #907aa9;
  --highlight-low: #f4ede8;
  --highlight-med: #dfdad9;
  --highlight-high: #cecacd;
}

/* Adaptation of Rose Pine Moon theme: https://rosepinetheme.com/palette/ingredients */
:root[data-theme="dark"] {
  --base: #232136;
  --surface: #2a273f;
  --overlay: #393552;
  --muted: #6e6a86;
  --subtle: #908caa;
  --text: #e0def4;
  --accent-red: #eb6f92;
  --accent-gold: #f6c177;
  --accent-orange: #ea9a97;
  --accent-teal: #3e8fb0;
  --accent-foam: #9ccfd8;
  --accent-violet: #c4a7e7;
  --highlight-low: #2a283e;
  --highlight-med: #44415a;
  --highlight-high: #56526e;
}

/* I have not found a (non-js) way to avoid repeating one of the theme specs 
 in order to use prefers-color-scheme automatically 
 Here we redefine :root such that the dark theme is default */
@media screen and (prefers-color-scheme: dark) {
  :root {
    --base: #232136;
    --surface: #2a273f;
    --overlay: #393552;
    --muted: #6e6a86;
    --subtle: #908caa;
    --text: #e0def4;
    --accent-red: #eb6f92;
    --accent-gold: #f6c177;
    --accent-orange: #ea9a97;
    --accent-teal: #3e8fb0;
    --accent-foam: #9ccfd8;
    --accent-violet: #c4a7e7;
    --highlight-low: #2a283e;
    --highlight-med: #44415a;
    --highlight-high: #56526e;
  }
}

/* || General styles */

:root {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* 
* Universal Box Sizing best practise, for max flexibility and :pseudo support.
* See https://css-tricks.com/box-sizing/
* */
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: var(--accent-foam);
}

a:visited {
  color: var(--accent-violet);
}

nav a, nav a:visited {
  text-decoration: none;
  color: var(--text);
}

/* … */


/* || Typography */

:root {
  line-height: 1.5;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
}

/* || Layout */

.page-header {
  grid-area: hd;
}

.page-main {
  grid-area: mn;
}

.page-footer {
  grid-area: ft;
}

.site-nav {
  grid-area: nv;
  display: flex;
  flex-direction: row; /* to fix: should be horizontal */
}

.article-nav {
  grid-area: sd;
  display: none;
}

.page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hd"
    "nv"
    "mn"
    "ft";
  gap: 0.75rem;
  max-width: 1500px;
  margin: 0 auto;
}



/* || Container Styles */

.site-nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.site-nav > h2 {
  display: none;
}

.article-nav {
  position: sticky;
  top: 2rem;
  align-self: start;
  font-size: 0.8rem;
}

.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* || Style Utilities */

.base {
  background-color: var(--base);
  color: var(--text);
}

.surface {
  background-color: var(--surface);
  color: var(--text);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 1rem;
}

.note-text {
  font-size: 0.8rem;
  color: var(--subtle);
}

.transitional {
  transition: all 100ms ease-in-out;
}

a.active, a.active:visited {
  color: var(--accent-red);
  font-weight: bold;
}

.no-bullets {
  list-style: none;
}

@media only screen and (min-width: 500px) {
  .page-container {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "hd hd"
      "nv nv"
      "mn sd"
      "ft sd";
  }

  .article-nav {
    display: block;
  }
}

@media only screen and (min-width: 900px) {
  .page-container {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "hd hd hd"
      "nv mn sd"
      "nv mn sd"
      "ft ft ft";
  }

  .site-nav > ul {
    flex-direction: column;
  }
}
