/* ------------------------------------------ *\
  || Imports
\* ------------------------------------------ */

@import "components/article-grid.css";
@import "components/breadcrumb.css";
@import "components/accordion.css";
@import "components/disclosure-nav.css";
@import "components/icon.css";
@import "components/toc.css";
@import "components/site-banner.css";

/* ------------------------------------------ *\
  || Aria
\* ------------------------------------------ */

[aria-orientation="horizontal"],
.flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

[aria-orientation="vertical"],
.flex-column {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

[role="tooltip"] {
  display: none;
}

[aria-expanded="false"] + ul {
  display: none;
}
[aria-expanded="true"] + ul {
  display: initial;
}

[role="menubar"] {
  display: flex;
  flex-flow: row nowrap;
  align-items: end;
}
[role="menubar"] li {
  display: flex;
  align-items: stretch;
}
[role="menuitem"] {
  cursor: pointer;
}
[role="menuitem"]:hover {
  background-color: hsl(var(--hsl-text) / 0.9);
  color: var(--base);
}
[role="menuitem"].icon:hover::before {
  filter: invert(100%);
}
