:root {
  color-scheme: dark light;
  --filter-black: brightness(0) saturate(100%);
}

:root,
:root[data-theme="light"] {
  --banner-bg-url: url("/static/images/dark-theme/guggenheim-circles.jpg");
  --banner-bg-size: cover;
  --banner-bg-rotation: 0deg;
  --banner-bg-position: 0% +7.5%;
  --banner-bg-filter: invert(100%) hue-rotate(90deg);
  --theme-toggle-icon: url("/static/images/light-theme/theme-toggle-icon.svg");

  --hue-fg: 255deg;
  --hue-bg: 30deg;
  --saturation-base: 65%;
  --saturation-surface: 55%;
  --saturation-overlay: 40%;
  --brightness-base: 93%;
  --brightness-surface: 92%;
  --brightness-overlay: 90%;

  --base: hsl(var(--hue-bg) 65% 93%);
  --surface: hsl(var(--hue-bg) 55% 92%);
  --overlay: hsl(var(--hue-bg) 40% 90%);
  --muted: hsl(var(--hue-fg) 10% 60%);
  --muted-subtle: hsl(var(--hue-fg) 10% 50%);
  --subtle: hsl(var(--hue-fg) 15% 45%);
  --text: hsl(var(--hue-fg) 20% 40%);
  --accent-red: hsl(340 35% 45%);
  --accent-gold: hsl(35 80% 30%);
  --accent-orange: hsl(3 50% 45%);
  --accent-teal: hsl(200 50% 30%);
  --accent-foam: hsl(190 30% 35%);
  --accent-violet: hsl(270 20% 45%);
  /* Hex color to CSS filter calculator: https://isotropic.co/tool/hex-color-to-css-filter/ */
  --svg-filter-base: var(--filter-black) invert(31%) sepia(10%) saturate(1771%)
    hue-rotate(208deg) brightness(99%) contrast(86%);
  --svg-filter-surface: var(--filter-black) invert(41%) sepia(7%)
    saturate(1400%) hue-rotate(209deg) brightness(91%) contrast(83%);
  --svg-filter-accent-red: var(--filter-black) invert(37%) sepia(11%)
    saturate(2106%) hue-rotate(291deg) brightness(97%) contrast(97%);

    /* https://www.joshwcomeau.com/shadow-palette/ */
  --shadow-color: var(--hue-bg) 20% 55%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}
:root[data-theme="dark"] {
  --banner-bg-size: cover;
  --banner-bg-rotation: 0deg;
  --banner-bg-url: url("/static/images/dark-theme/guggenheim-circles.jpg");
  --banner-bg-position: 0 +62.5%;
  --banner-bg-filter: brightness(50%);
  --theme-toggle-icon: url("/static/images/dark-theme/theme-toggle-icon.svg");

  --hue-fg: 245deg;
  --hue-bg: 245deg;
  --saturation-base: 25%;
  --saturation-surface: 20%;
  --saturation-overlay: 20%;
  --brightness-base: 15%;
  --brightness-surface: 20%;
  --brightness-overlay: 25%;

  --base: hsl(var(--hue-bg) 25% 15%);
  --surface: hsl(var(--hue-bg) 20% 20%);
  --overlay: hsl(var(--hue-bg) 20% 25%);
  --muted: hsl(var(--hue-fg) 20% 60%);
  --muted-subtle: hsl(var(--hue-fg) 30% 70%);
  --subtle: hsl(var(--hue-fg) 35% 80%);
  --text: hsl(var(--hue-fg) 60% 90%);
  --accent-red: hsl(340 75% 75%);
  --accent-gold: hsl(35 88% 70%);
  --accent-orange: hsl(3 66% 75%);
  --accent-teal: hsl(200 50% 60%);
  --accent-foam: hsl(190 45% 70%);
  --accent-violet: hsl(270 55% 80%);
  /* Hex color to CSS filter calculator: https://isotropic.co/tool/hex-color-to-css-filter/ */
  --svg-filter-base: var(--filter-black) invert(87%) sepia(24%) saturate(138%)
    hue-rotate(206deg) brightness(96%) contrast(100%);
  --svg-filter-surface: var(--filter-black) invert(73%) sepia(10%)
    saturate(469%) hue-rotate(208deg) brightness(91%) contrast(84%);
  --svg-filter-accent-red: var(--filter-black) invert(87%) sepia(22%)
    saturate(3499%) hue-rotate(291deg) brightness(91%) contrast(105%);

    /* https://www.joshwcomeau.com/shadow-palette/ */
  --shadow-color: var(--hue-bg) 40% 10%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

:root,
:root[data-theme="light"] {
  --hsl-base: 30 55% 95%;
  --hsl-surface: 35 100% 98%;
  --hsl-overlay: 28 40% 90%;
  --hsl-muted: 256 10% 60%;
  --hsl-muted-subtle: 250 15% 50%;
  --hsl-subtle: 250 10% 45%;
  --hsl-text: 250 20% 40%;
  --hsl-accent-red: 340 35% 45%;
  --hsl-accent-gold: 35 80% 30%;
  --hsl-accent-orange: 3 50% 45%;
  --hsl-accent-teal: 200 50% 30%;
  --hsl-accent-foam: 190 30% 35%;
  --hsl-accent-violet: 270 20% 45%;
  /* Hex color to CSS filter calculator: https://isotropic.co/tool/hex-color-to-css-filter/ */
  --hsl-svg-filter-base: var(--filter-black) invert(31%) sepia(10%)
    saturate(1771%) hue-rotate(208deg) brightness(99%) contrast(86%);
  --hsl-svg-filter-surface: var(--filter-black) invert(41%) sepia(7%)
    saturate(1400%) hue-rotate(209deg) brightness(91%) contrast(83%);
  --hsl-svg-filter-accent-red: var(--filter-black) invert(37%) sepia(11%)
    saturate(2106%) hue-rotate(291deg) brightness(97%) contrast(97%);
}
:root[data-theme="dark"] {
  --hsl-base: 245 25% 20%;
  --hsl-surface: 245 20% 25%;
  --hsl-overlay: 245 15% 30%;
  --hsl-muted: 245 10% 50%;
  --hsl-muted-subtle: 245 10% 60%;
  --hsl-subtle: 245 10% 70%;
  --hsl-text: 245 50% 90%;
  --hsl-accent-red: 340 75% 75%;
  --hsl-accent-gold: 35 88% 70%;
  --hsl-accent-orange: 3 66% 75%;
  --hsl-accent-teal: 200 50% 60%;
  --hsl-accent-foam: 190 45% 70%;
  --hsl-accent-violet: 270 55% 80%;
  /* Hex color to CSS filter calculator: https://isotropic.co/tool/hex-color-to-css-filter/ */
  --hsl-svg-filter-base: var(--filter-black) invert(87%) sepia(24%)
    saturate(138%) hue-rotate(206deg) brightness(96%) contrast(100%);
  --hsl-svg-filter-surface: var(--filter-black) invert(73%) sepia(10%)
    saturate(469%) hue-rotate(208deg) brightness(91%) contrast(84%);
  --hsl-svg-filter-accent-red: var(--filter-black) invert(87%) sepia(22%)
    saturate(3499%) hue-rotate(291deg) brightness(91%) contrast(105%);
}
