<nav
  aria-label="Table of Contents"
  class="page-toc bordered-box padded-box"
  id="$idprefix$TOC">
  <button
    type="button"
    aria-expanded="true"
    aria-controls="TOC"
    class="accordion expanded toc-title">
    Contents
  </button>
  $table-of-contents$
</nav>
