<div class="flex-row">
  <button
    type="button"
    id="baseliner-toggle"
    aria-label="Secret Button"
    aria-hidden="True"
    class="icon large scale-up-2x"
    style="--icon: url(/static/images/favicon.svg)"
  ></button>
  <div>
    <p class="banner-title">User Interfaces</p>
    <small>
      420-2W6 | Winter 2023 | as taught by
      <a rel="author" href="https://github.com/michaelhaaf/2W6-W23">
        Michael Haaf
      </a>
    </small>
  </div>
</div>
