<link
  href="/static/images/favicon.svg"
  rel="icon"
  sizes="any"
  type="image/svg+xml"
/>
<link
  rel="preload"
  href="/static/images/dark-theme/guggenheim-circles.jpg"
  as="image"
/>
<meta content="dark light" name="color-scheme" />
<meta charset="utf-8" />
<meta content="pandoc" name="generator" />
<meta
  content="width=device-width, initial-scale=1.0, user-scalable=yes"
  name="viewport"
/>
<link href="/static/css/style.css" rel="stylesheet">
<script type="module" src="/static/js/app.mjs" defer></script>
$for(author-meta)$
<meta content="$author-meta$" name="author" />
$endfor$ $if(date-meta)$
<meta content="$date-meta$" name="dcterms.date" />
$endif$ $if(keywords)$
<meta content="$for(keywords)$$keywords$$sep$, $endfor$" name="keywords" />
$endif$ $if(description-meta)$
<meta content="$description-meta$" name="description" />
$endif$
<title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
$for(css)$
<link href="$css$" rel="stylesheet" />
$endfor$ $for(header-includes)$ $header-includes$ $endfor$ $if(math)$ $math$
$endif$

