<nav class="disclosure-nav" aria-label="Site menu">
  <ul class="nav-menubar" role="menubar">
    ${for(contents)}
    <li>
      <a 
        aria-label="${it.label}"
        href="${it.href}"
        role="menuitem"
        ${if(it.current)} aria-current="page" ${endif}
      >
        <span class="strong">${it.label}</span>
      </a>
      ${if(it.contents)}
      <button
        type="button"
        aria-expanded="false"
        aria-controls="${it.name}-menu"
        aria-label="Expand ${it.label} menu"
      ></button>
      <ul id="${it.name}-menu" class="nav-menu" role="menu" aria-label="${it.label} Menu">
        ${for(it.contents)}
        <li>
          <a role="menuitem" href="${it.href}" aria-label="${it.label}">
            <span>${it.label}</span>
          </a>
        </li>
        ${endfor}
      </ul>
      ${endif}
    </li>
    ${endfor}
  </ul>
</nav>
