<figure style="--banner-bg-img: url()"> 
  <footer>
    <small>
      <a href="https://www.guggenheim.org/artwork/movement/constructivism"
        >Title</a
      >, by <a href="#">Author</a> (<a href="#">CC BY ND 4.0</a>)
    </small>
  </footer>
</figure>
