/* ------------------------------------------ *\
  || Table of Contents
\* ------------------------------------------ */

/*
* || Generic
*   - flex, grid
*
* || Specific
*   - banner-image
*   - 
*
* /



/* ------------------------------------------ *\
  || Generic
\* ------------------------------------------ */

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

/* ------------------------------------------ *\
  || Specific
\* ------------------------------------------ */

.site-banner figure {
  padding-top: 13rem;
  position: relative;
}
.site-banner figure::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: var(--banner-bg-url);
  background-size: var(--banner-bg-size);
  background-position: var(--banner-bg-position);
  rotate: var(--banner-bg-rotation);
  filter: var(--banner-bg-filter);
}
.site-banner footer {
  text-align: right;
  padding: 1rem;
}

.banner-top-bar {
  display: flex;
  align-items: center;
}
.banner-top-bar small {
  display: block;
}



.main-menu {
  display: flex;
}

/* MDN */
.text-wrapper {
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* max-width: var(--max-width); */
  /* padding-left: var(--gutter); */
  /* padding-right: var(--gutter); */
}

article.text-wrapper{
  padding: 0 1rem;
}
.text-wrapper {
  padding: 0.5rem 1rem;
}
.text-wrapper.compact {
  padding: 0rem 1rem 1rem 1rem;
}

/* Sticky */

/* https://stackoverflow.com/a/38994837 */
.sticky {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.sticky::-webkit-scrollbar { 
    display: none;
}
.sticky {
  overflow: auto;
  position: sticky;
  align-self: start;
  max-height: 100vh;
}

.vertical.sticky-container > .sticky {
  top: 0;
}
.overlay-grid.sticky-container > .sticky:nth-of-type(1) {
  top: 1rem;
  align-self: end;
  border-bottom: 0px;
}
.overlay-grid.sticky-container > .sticky:nth-of-type(2) {
  top: 3rem;
}
.overlay-grid {
  pointer-events: none;
  position: absolute;
  inset: 0;
}
.overlay-grid .sticky {
  pointer-events: auto;
}


/* Accordion/collapsible buttons + lists */

.accordion {
  outline: none;
  border: none;
  cursor: pointer;
  text-align: left;
  width: 100%;
}
.accordion::after {
  text-align: right;
  float: right;
  content: "(+)";
}
.accordion.expanded::after {
  text-align: right;
  float: right;
  content: " --";
}
.collapsible,
.accordion + ul {
  max-height: 0;
  overflow: hidden;
}
.collapsible.expanded,
.accordion.expanded + ul {
  max-height: none;
}



/* Article grid */


.level1 {
  display: grid;
  row-gap: 2rem;
  column-gap: 1rem;
  margin-bottom: 2rem;
  grid-auto-rows: min-content;
  grid-template-columns: [content] 2fr [margin] 1fr; 
}
.level1 * {
  grid-column: content;
}
.level1 .margin {
  grid-column: margin;
  justify-self: left;
}
/* NOTE: makes navigation to top of section impossible */
.level1 :is(section, header, footer, aside, .abstract) {
  display: contents;
}


/* Sticky overlay for article grid */

.overlay-grid {
  row-gap: 0;
  grid-auto-rows: minmax(3rem, min-content);
}


/* Table of Contents */

.toc {
  justify-self: center;
  min-width: 50%;
  padding: 0.5rem 0;
}
.toc-title {
  text-transform: uppercase;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-subheaders);
}
.toc ul,
.toc ol {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: normal;
  padding-left: 0em;
}
.toc li ul,
.toc li ol {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}
.toc li li ul,
.toc li li ol {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}
.toc-section-number {
  color: var(--muted);
}
.toc li > a:not(:only-child)::after {
  content: "(+)";
}
.toc li > a.semi-active:not(:only-child)::after {
  content: " --";
}
.toc li > ul {
  display: none;
}
.toc a.expanded,
.toc a.semi-active + ul {
  display: initial;
}


/* Navigation Menus */

.main-menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  margin: 0 auto 0 0;
}
.main-menu .icon {
  display: inline-block;
  padding: 1rem 1rem;
}
.main-menu .icon::before{
  display: none;

}


.horizontal {
  width: min-content;
  max-width: 14rem;
}


/* Icons */

.icon {
  display: block;
  position: relative;
}
.icon.small { 
  height: 2rem;
  width: 2rem;
}
.icon.large {
  height: 4rem;
  width: 4rem;
}

.icon::before {
  content: "";
  position: absolute;
  inset: 0;
  filter: var(--svg-filter-base);
  background-image: var(--icon);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 50%;
}

.icon.scale-up::before {
  background-size: 60%;
}
.icon.scale-up-2x::before {
  background-size: 70%;
}

/* tooltip */

.tooltip {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}
.tooltip [role="menuitem"]:hover,
.tooltip [role="menuitem"]:focus,
.tooltip [role="menuitem"]:active {
  background-color: hsl(var(--hsl-base) / 1);
}
.tooltip [role="menuitem"] span {
  background-color: hsl(var(--hsl-surface) / 1);
  color: var(--text);
  padding: 0.5rem 1rem;
  position: absolute;
  left: 150%;
  top: 50%;
  transform-origin: left;
  --scale: 0;
  opacity: 0;
  transform: translateY(-50%) scale(var(--scale));
  transition: opacity 0.15s ease, transform 0.15s ease;
  z-index: 99;
}
.tooltip [role="menuitem"]:hover span, 
.tooltip [role="menuitem"]:focus span, 
.tooltip [role="menuitem"]:active span {
  --scale: 1;
  opacity: 1;
}

/* vertical nav-bar */

/* inspired by: https://www.youtube.com/watch?v=6hW4YTVi3hc */
.vertical {
  border-top: var(--border-muted);
}
.vertical li {
  padding: 0.5rem 0.5rem;
}
.vertical li[aria-current="page"] {
  border-top: var(--border-default);
  border-bottom: var(--border-default);
  border-right: 0px;
  background-color: var(--base);
}
.vertical li:not([aria-current="page"]) {
}
.vertical li:first-child[aria-current="page"] {
}
.vertical li:last-child[aria-current="page"] {
}
.vertical li.has-submenu {
  padding-right: 0rem;
  padding-left: 0rem;
  display: flex;
}
