:root {
  /* Default: 1rem = 16px, 2rem = 32px */
  /* Line height will be set to 32px to allow larger than 16px body font */
  --space: 2rem;
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 2rem;
  --space-l: 4rem;
  --space-xl: 8rem;
  /* Define internal spacing (padding, generally) for components */
  /* em, unlike rem, will scale to element font -- elements with larger fonts will have proportionally larger inset */
  --space-inset: 1em;
  --space-inset-xs: 0.25em;
  --space-inset-s: 0.5em;
  --space-inset-m: 1em;
  --space-inset-l: 2em;
  --space-inset-xl: 4em;
  /* Default HTML flow spacing between blocks */
  --space-stack: 0 0 2rem 0;
  --space-stack-xs: 0 0 0.5rem 0;
  --space-stack-s: 0 0 1rem 0;
  --space-stack-m: 0 0 2rem 0;
  --space-stack-l: 0 0 4rem 0;
  --space-stack-xl: 0 0 8rem 0;
  /* Vertical offset for correcting alignment */
  --space-offset: 1.25rem 0 0 0;
}


/* Use space definitions to define layout spacing */
:root {
  --margin-figure: var(--space-stack-m);
  --margin-text: var(--space-stack);
  --margin-text-xl: var(--space-stack-l);
  --padding-figure: var(--space-offset);
  --padding-text: var(--space-offset);
  --padding-text-l: calc(var(--space-offset) + 0.5rem);
  --padding-text-xl: calc(var(--space-offset) + 0.625rem);
}
