/* ------------------------------------------ *\
  || Table of Contents
\* ------------------------------------------ */

/* 
* || Imports
*
* || Reset
*
* || Global
*
* || Themes 
*
* || Typography
*
* || Utilities
*   - .hidden, .text-shadow, etc.
*
* || Objects
*   - .nav links, buttons, and dropdowns
*
* || Containers
*   - .header, .main, .footer, .aside--site, .aside--page
*
* || Layout
*   - .page-container grid definition
*
* || Overrides
*   - @media responsive design
* 
* || Acknowledgements:
*   Resources used in creating this design cited inline.
* 
*   Document structure inspired by: 
*     - https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Organizing
*     - https://cssguidelin.es/
*/


/* ------------------------------------------ *\
  || Imports
\* ------------------------------------------ */

@import "reset.css";
@import "themes.css";
@import "fonts.css";
@import "typography.css";

/* ------------------------------------------ *\
  || Reset
\* ------------------------------------------ */

nav a {
  text-decoration: none;
}
nav ul,
nav ol {
  list-style: none;
}

/* ------------------------------------------ *\
  || Global
\* ------------------------------------------ */

:root {
  --border-muted: 1px solid hsl(var(--hsl-muted) / 0.5);
  --border-default: 1px solid var(--muted);
}

/* ------------------------------------------ *\
  || Themes
\* ------------------------------------------ */

/* ------------------------------------------ *\
  || Typography
\* ------------------------------------------ */

html {
  font-size: 100%;
}

p, li, ol {
  color: var(--subtle);
}

a {
  color: inherit;
}

strong {
  color: var(--text);
}

.level1 {
  display: grid;
  row-gap: 2rem;
  margin-bottom: 2rem;
  column-gap: 1em;
  grid-auto-rows: min-content;
  grid-template-columns: [content] 2fr [margin] 1fr; 
}

.level1 * {
  grid-column: content;
}

.level1 .margin {
  grid-column: margin;
}

/* NOTE: makes navigation to top of section impossible */
.level1 :is(section, header, footer, aside, .abstract) {
  display: contents;
}

.overlay-grid {
  row-gap: 0;
  grid-auto-rows: minmax(3rem, min-content);
}

.abstract h2,
h2[data-number] {
  font-style: italic;
  border-bottom: var(--border-default);
}

.abstract {
  font-style: italic;
}

/* ------------------------------------------ *\
  || Utilities
\* ------------------------------------------ */

.hidden {
  /* !important required for this utility, I think it's appropriate */
  display: none !important;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.baseline-grid {
  background-image: url("../assets/images/baseline-grid.svg");
}

.accordion {
  outline: none;
  border: none;
  cursor: pointer;
  text-align: left;
}

.accordion::before {
  content: "(+)";
}

.accordion.expanded::before {
  content: "--";
}

.collapsible {
  max-height: 0;
  overflow: hidden;
}

.collapsible.expanded {
  max-height: none;
}

/* ------------------------------------------ *\
  || Objects
\* ------------------------------------------ */

.header-section-number {
  display: none;
}

.toc {
  justify-self: start;
  min-width: 14rem;
}
.toc ul,
.toc ol {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-weight: normal;
  padding-left: 1em;
}
.toc li ul,
.toc li ol {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}
.toc li li ul,
.toc li li ol {
  font-size: var(--font-size-xxs);
  line-height: var(--line-height-xxs);
}
.toc > ul,
.toc > ol {
  font-weight: var(--font-weight-headers);
}
.toc-section-number {
  color: var(--muted);
}

.menu {
  border: var(--border-default);
}

.horizontal {
  width: min-content;
  max-width: 14rem;
}

.horizontal > ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
}
.vertical > ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
}


.tooltip {
  font-size: var(--font-size-xxs);
  line-height: var(--line-height-xxs);
}


.icon {
  display: block;
  position: relative;
  height: 3rem;
  width: 3rem;
}
.icon.small { 
  height: 2rem;
  width: 2rem;
}
.icon.large {
  height: 4rem;
  width: 4rem;
}
.icon::before {
  content: "";
  position: absolute;
  inset: 0;
  filter: var(--svg-filter-base);
  background-image: var(--icon);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: 50%;
}
.icon.scale-up::before {
  background-size: 60%;
}
.icon.scale-up-2x::before {
  background-size: 70%;
}


.tooltip [role="menuitem"]:hover,
.tooltip [role="menuitem"]:focus,
.tooltip [role="menuitem"]:active {
  background-color: hsl(var(--hsl-base) / 1);
}
.tooltip [role="menuitem"] span {
  background-color: hsl(var(--hsl-surface) / 1);
  color: var(--text);
  padding: 0.5rem 1rem;
  position: absolute;
  left: 150%;
  top: 50%;
  transform-origin: left;
  --scale: 0;
  opacity: 0;
  transform: translateY(-50%) scale(var(--scale));
  transition: opacity 0.15s ease, transform 0.15s ease;
  z-index: 99;
}
.tooltip [role="menuitem"]:hover span, 
.tooltip [role="menuitem"]:focus span, 
.tooltip [role="menuitem"]:active span {
  --scale: 1;
  opacity: 1;
}

/* inspired by: https://www.youtube.com/watch?v=6hW4YTVi3hc */

.vertical li {
  padding: 0.5rem 0.5rem;
}
.vertical li[aria-current="page"] {
  border-top: var(--border-muted);
  border-bottom: var(--border-muted);
  border-right: 0px;
  background-color: var(--base);
}
.vertical li:not([aria-current="page"]) {
}
.vertical li:first-child[aria-current="page"] {
}
.vertical li:last-child[aria-current="page"] {
}


.to-be-named {
  display: flex;
  align-items: end;
  justify-content: space-between;
  font-size: var(--font-size-xxs);
  line-height: var(--font-size-xxs);
}

.to-be-named > * {
  /* background-color: hsl(var(--hue-bg) var(--saturation-base) var(--brightness-base) / 0.8); */
  background-color: var(--surface);
}

.flex-row {
  display: flex;
  align-items: center;
}

/* ------------------------------------------ *\
  || Containers
\* ------------------------------------------ */

.base {
  background-color: var(--base);
  color: var(--text);
}

.surface {
  background-color: var(--surface);
  color: var(--text);
}

.overlay {
  background-color: var(--overlay);
  color: var(--text);
}

.text-wrapper {
  padding: 1rem 1rem;
}
.text-wrapper.compact {
  padding: 0rem 1rem 1rem 1rem;
}

.to-be-named > * {
  border: var(--border-muted);
  border-bottom: 0px;
}

header[role="banner"] {
  position: relative;
  padding-top: 12rem;
}
header[role="banner"]::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: var(--banner-bg-url);
  background-size: var(--banner-bg-size);
  background-position: var(--banner-bg-position);
  rotate: var(--banner-bg-rotation);
  filter: var(--banner-bg-filter);
}



/* ------------------------------------------ *\
  || Layout
\* ------------------------------------------ */

header[role="banner"] {
  grid-area: header;
}

footer[role="contentinfo"]{
  grid-area: footer;
}

main[role="main"] {
  grid-area: main;
}

nav[aria-label="course-content"] {
  grid-area: course-nav;
}

body {
  width: 100%;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header"
    "course-nav main"
    "footer footer";
}

article {
  position: relative;
  padding: 0 1rem;
  border: var(--border-muted);
}

.vertical {
  border: var(--border-muted);
  border-top: 0px;
}

/* https://stackoverflow.com/a/38994837 */
.sticky {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.sticky::-webkit-scrollbar { 
    display: none;
}

.sticky {
  overflow: auto;
  position: sticky;
  align-self: start;
  max-height: 100vh;
}

.vertical.sticky-container > .sticky {
  top: 0;
}
.overlay-grid.sticky-container > .sticky:nth-of-type(1) {
  top: 1rem;
  align-self: end;
  border-bottom: 0px;
}
.overlay-grid.sticky-container > .sticky:nth-of-type(2) {
  top: 3rem;
}

.overlay-grid {
  pointer-events: none;
  position: absolute;
  inset: 0 1rem;
}

.overlay-grid .sticky {
  pointer-events: auto;
}

/* ------------------------------------------ *\
  || Code
\* ------------------------------------------ */

/* ------------------------------------------ *\
  || Overrides
\* ------------------------------------------ */

/*
* Remove redundancies for PDF printing
*
* Sources: 
* - https://sympli.io/blog/a-quick-guide-to-css-for-printable-webpages
* - https://www.slideshare.net/aardrian/making-your-site-printable
*
* (TODO)
*/
@media print {
  header.header, aside.aside--site, aside.aside--page {
    display: none;
  }

  body, .base, .surface {
    background: #fff;
    color: #000;
    font-size: 8pt;
    line-height: 150%;
  }

  h1 {
    font-size: 14pt;
    margin-top: 1em;
  }

  h2 {
    font-size: 12pt;
  }

  h3 {
    font-size: 10pt;
  }

  h4,h5,h6 {
    font-size: 8pt;
  }

  hr {
    color: #ccc;
    background-color: #ccc;
  }

  h1, h2, h3, h4, h5, h6, code, pre {
    color: #000;
    text-transform: none;
    page-break-after: avoid;
  }

}
