:root {
  color-scheme: dark light;
  --filter-black: brightness(0) saturate(100%);
}

:root,
:root[data-theme="light"] {
  --banner-bg-url: url("../images/light-theme/lissitzky-circles.jpg");
  --banner-bg-size: cover;
  --banner-bg-rotation: 180deg;
  --theme-toggle-icon: url("../images/light-theme/theme-toggle-icon.svg");

  --hue-fg: 245deg;
  --hue-bg: 30deg;
  --saturation-base: 55%;
  --brightness-base: 95%;

  --base: hsl(var(--hue-bg) 65% 95%);
  --surface: hsl(var(--hue-bg) 55% 92%);
  --overlay: hsl(var(--hue-bg) 40% 90%);
  --muted: hsl(var(--hue-fg) 10% 60%);
  --muted-subtle: hsl(var(--hue-fg) 15% 50%);
  --subtle: hsl(var(--hue-fg) 20% 45%);
  --text: hsl(var(--hue-fg) 25% 40%);
  --accent-red: hsl(340 35% 45%);
  --accent-gold: hsl(35 80% 30%);
  --accent-orange: hsl(3 50% 45%);
  --accent-teal: hsl(200 50% 30%);
  --accent-foam: hsl(190 30% 35%);
  --accent-violet: hsl(270 20% 45%);
  /* Hex color to CSS filter calculator: https://isotropic.co/tool/hex-color-to-css-filter/ */
  --svg-filter-base: var(--filter-black) invert(31%) sepia(10%) saturate(1771%)
    hue-rotate(208deg) brightness(99%) contrast(86%);
  --svg-filter-surface: var(--filter-black) invert(41%) sepia(7%)
    saturate(1400%) hue-rotate(209deg) brightness(91%) contrast(83%);
  --svg-filter-accent-red: var(--filter-black) invert(37%) sepia(11%)
    saturate(2106%) hue-rotate(291deg) brightness(97%) contrast(97%);
}
:root[data-theme="dark"] {
  --banner-bg-size: cover;
  --banner-bg-rotation: 0deg;
  --banner-bg-url: url("../images/dark-theme/guggenheim-brown.jpg");
  --theme-toggle-icon: url("../images/dark-theme/theme-toggle-icon.svg");

  --hue-fg: 245deg;
  --hue-bg: 245deg;
  --saturation-base: 25%;
  --brightness-base: 20%;

  --base: hsl(var(--hue-bg) 25% 20%);
  --surface: hsl(var(--hue-bg) 20% 25%);
  --overlay: hsl(var(--hue-bg) 20% 30%);
  --muted: hsl(var(--hue-fg) 20% 60%);
  --muted-subtle: hsl(var(--hue-fg) 30% 70%);
  --subtle: hsl(var(--hue-fg) 40% 80%);
  --text: hsl(var(--hue-fg) 50% 90%);
  --accent-red: hsl(340 75% 75%);
  --accent-gold: hsl(35 88% 70%);
  --accent-orange: hsl(3 66% 75%);
  --accent-teal: hsl(200 50% 60%);
  --accent-foam: hsl(190 45% 70%);
  --accent-violet: hsl(270 55% 80%);
  /* Hex color to CSS filter calculator: https://isotropic.co/tool/hex-color-to-css-filter/ */
  --svg-filter-base: var(--filter-black) invert(87%) sepia(24%) saturate(138%)
    hue-rotate(206deg) brightness(96%) contrast(100%);
  --svg-filter-surface: var(--filter-black) invert(73%) sepia(10%)
    saturate(469%) hue-rotate(208deg) brightness(91%) contrast(84%);
  --svg-filter-accent-red: var(--filter-black) invert(87%) sepia(22%)
    saturate(3499%) hue-rotate(291deg) brightness(91%) contrast(105%);
}

:root,
:root[data-theme="light"] {
  --hsl-base: 30 55% 95%;
  --hsl-surface: 35 100% 98%;
  --hsl-overlay: 28 40% 90%;
  --hsl-muted: 256 10% 60%;
  --hsl-muted-subtle: 250 15% 50%;
  --hsl-subtle: 250 10% 45%;
  --hsl-text: 250 20% 40%;
  --hsl-accent-red: 340 35% 45%;
  --hsl-accent-gold: 35 80% 30%;
  --hsl-accent-orange: 3 50% 45%;
  --hsl-accent-teal: 200 50% 30%;
  --hsl-accent-foam: 190 30% 35%;
  --hsl-accent-violet: 270 20% 45%;
  /* Hex color to CSS filter calculator: https://isotropic.co/tool/hex-color-to-css-filter/ */
  --hsl-svg-filter-base: var(--filter-black) invert(31%) sepia(10%) saturate(1771%)
    hue-rotate(208deg) brightness(99%) contrast(86%);
  --hsl-svg-filter-surface: var(--filter-black) invert(41%) sepia(7%)
    saturate(1400%) hue-rotate(209deg) brightness(91%) contrast(83%);
  --hsl-svg-filter-accent-red: var(--filter-black) invert(37%) sepia(11%)
    saturate(2106%) hue-rotate(291deg) brightness(97%) contrast(97%);
}
:root[data-theme="dark"] {
  --hsl-base: 245 25% 20%;
  --hsl-surface: 245 20% 25%;
  --hsl-overlay: 245 15% 30%;
  --hsl-muted: 245 10% 50%;
  --hsl-muted-subtle: 245 10% 60%;
  --hsl-subtle: 245 10% 70%;
  --hsl-text: 245 50% 90%;
  --hsl-accent-red: 340 75% 75%;
  --hsl-accent-gold: 35 88% 70%;
  --hsl-accent-orange: 3 66% 75%;
  --hsl-accent-teal: 200 50% 60%;
  --hsl-accent-foam: 190 45% 70%;
  --hsl-accent-violet: 270 55% 80%;
  /* Hex color to CSS filter calculator: https://isotropic.co/tool/hex-color-to-css-filter/ */
  --hsl-svg-filter-base: var(--filter-black) invert(87%) sepia(24%) saturate(138%)
    hue-rotate(206deg) brightness(96%) contrast(100%);
  --hsl-svg-filter-surface: var(--filter-black) invert(73%) sepia(10%)
    saturate(469%) hue-rotate(208deg) brightness(91%) contrast(84%);
  --hsl-svg-filter-accent-red: var(--filter-black) invert(87%) sepia(22%)
    saturate(3499%) hue-rotate(291deg) brightness(91%) contrast(105%);
}
